body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 100%;
}

html {
  user-select: none;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
}

/* HEADER */
.container {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    background-color: #09231E;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 20px;
}

.logo,
img {
    width: 200px;
    display: block;
    margin: auto;
}

.title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}

.title text {
    display: block;
    margin: auto;
}

.user {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #09231E;
    float: left;
    overflow: hidden;
    max-height: 100px;
}

.userText {
    margin: auto;
}

.user h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: transparent;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: none;
    list-style: none;
    margin: 0;
}

.dropdown-arrow {
    cursor: pointer;
}

.user ul {
    display: none;
    position: absolute;
    background: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.user ul li {
    float: none;
    width: 100%;
    margin-top: 0;
}

.user ul button, .user ul a{
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #09231E;
    background-color: white;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    text-decoration: none;
}

.userText h1:hover+ul,
.userText>ul:hover {
    display: block;
}

/* .searchbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BODY */
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        ". a ."
        "b b b";
    height: calc(100% - 100px);
}

.principal {
    grid-area: a;
    background-color: #F9F3ED;
    min-height: 100%;
    height: min-content;
}

.grid-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-row-wrapper>h1 {
    height: fit-content;
    grid-column: 1 / 10;
    margin-bottom: 0;
}

.main-container h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 1%;
}

.box {
    background: white;
    text-align: center;
    box-shadow: -1px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.principal img {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.text {
    padding: 2%;
}

.text h3 {
    font-size: 1.5vw;
    margin: 2% 0;
}

.text p {
    font-size: 1vw;
    line-height: 18px;
    margin: 10px 0 10px 0;
}

.text h2 {
    font-size: 1.2vw;
}

.button-agregar button {
    font-size: 1.2vw;
}

.button-ver button {
    font-size: 1.2vw;
}

.button-ver {
    background: black;
    width: 100%;
    height: 100%;
}

.button-agregar {
    background: #4B8DDA;
    width: 100%;
    height: 100%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 1vw;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.scrollmenu-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    padding: 0 40px 4% 40px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    grid-column: 1 / 10;
    max-width: 100%;
}

div.scrollmenu div.box {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}

.texto-no{
    font-size: 2vw !important;
    font-weight: bold !important;
    text-align: center !important;
}

@media only screen and (max-width:768px) {
    .principal {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
}

/* FOOTER */
footer {
    grid-area: b;
    background-color: #09231E;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}