body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

html h1{
    user-select: none;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
}

/* HEADER */
.container {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    background-color: #09231E;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 20px;
}

.logo img {
    width: 200px;
    display: block;
    margin: auto;
}

.title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}

.title text {
    display: block;
    margin: auto;
}

.user {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #09231E;
    position: relative;
}

.user h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: transparent;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: none;
    list-style: none;
    padding: 0;
}

.dropdown-arrow {
    cursor: pointer;
}

.user ul {
    display: none;
    position: absolute;
    top: 65%;
    left: 35%;
    background: none;
    padding: 0;
    list-style-type: none;
    margin-top: 0;
}

.user ul li {
    float: none;
    width: fit-content;
    margin-top: 0;
}

.user ul a {
    line-height: 120%;
    padding: 10px 15px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #09231E;
    background-color: white;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    text-decoration: none;
}

.user h1:hover+ul {
    display: block;
}

.user ul:hover {
    display: block;
}


/* BODY */
.main-container {
    display: grid;
    grid-template-columns: 200px 4fr 1fr;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    padding-left: 20px;
    height: 100%;
}

.principal {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #F9F3ED;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal img{
    align-self: flex-start;
    min-width: 300px;
    max-width: 800px;
    margin-left: 50px;
}

.main-container h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3em;
    margin-left: 50px;
}

.main-container h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-left: 50px;
}

.select-input h2{
    margin-left: 0;
}

.main-container input[type="text"] {
    width: 500px;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
    color: #09231E;
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.main-container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #09231E;
    font-size: 2em;
    width: 20em;
    height: fit-content;
    border: none;
    align-self: center;
    padding: 10px 0;
}

button:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.text-input,
.select-input {
    flex: 1;
    margin-right: 50px;
}

.select-input select  {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
    color: #09231E;
    font-family: 'Montserrat', sans-serif;
}

/* FOOTER */
footer {
    background-color: #09231E;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}