body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

html h1 {
    user-select: none;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
}

/* HEADER */
.container {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    background-color: #09231E;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 20px;
}

.logo img {
    width: 200px;
    display: block;
    margin: auto;
}

.title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}

.title text {
    display: block;
    margin: auto;
}

.user {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #09231E;
    position: relative;
}

.user h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: transparent;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: none;
    list-style: none;
    padding: 0;
}

.dropdown-arrow {
    cursor: pointer;
}

.user ul {
    display: none;
    position: absolute;
    top: 65%;
    left: 35%;
    background: none;
    padding: 0;
    list-style-type: none;
    margin-top: 0;
}

.user ul li {
    float: none;
    width: fit-content;
    margin-top: 0;
}

.user ul a {
    line-height: 120%;
    padding: 10px 15px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #09231E;
    background-color: white;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    text-decoration: none;
}

.user h1:hover+ul {
    display: block;
}

.user ul:hover {
    display: block;
}


/* BODY */
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    height: 100%;
}

.principal {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #F9F3ED;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal img {
    align-self: flex-start;
    min-width: 300px;
    max-width: 800px;
    margin-left: 50px;
}

.producto-precio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.producto-precio h1 {
    margin-right: 50px;
}

.main-container h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin-left: 50px;
    margin-bottom: 0;
}

.main-container h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-left: 50px;
}

.main-container p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 20px 50px 50px 50px;
}

.main-container h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-weight: bold;
}

.agregar-ver {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.select-input h2 {
    margin-left: 0;
}

.main-container input[type="text"] {
    width: 500px;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
    color: #09231E;
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.button-agregar button,
.button-ver button,
.button-reportar button {
    font-size: 1.2vw;
}

.button-ver {
    background: black;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.button-agregar {
    background: #4B8DDA;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.button-reportar{
    background: #D34F4F;
    width: 100%;
    height: fit-content;
    margin-right: 50px;
    align-self: flex-end;
    margin-bottom: 2%;
}

.button-enviar{
    background: #3FC23D;
    width: 100%;
    height: fit-content;
    margin-left: auto;
}

.button-enviar button{
    width: fit-content;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    padding: 15px;
    font-size: 1vw;
    max-width: 20%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.text-input,
.select-input {
    flex: 1;
    margin-right: 50px;
}

.select-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
    color: #09231E;
    font-family: 'Montserrat', sans-serif;
}

.calificacion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 4%;
    width: 50%;
}

.cc-selector {
    margin-left: 20px;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.like {
    background-image: url('/utils/images/like-in.png');
}

.dislike {
    background-image: url('/utils/images/dislike-in.png');
}

.cc-selector input:active+.calif-cc1 {
    opacity: .9;
}

.cc-selector input:active+.calif-cc2 {
    opacity: .9;
}

.cc-selector input:checked+.calif-cc1 {
    background-image: url('/utils/images/like-ac.png');
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.cc-selector input:checked+.calif-cc2 {
    background-image: url('/utils/images/dislike-ac.png');
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.calif-cc1,
.calif-cc2 {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.calif-cc1:hover,
.calif-cc2:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

textarea {
    margin-left: 50px;
    min-width: 50%;
    min-height: 100px;
    margin-bottom: 2%;
    padding: 0;
}

.comentario-reportar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

/* FOOTER */
footer {
    background-color: #09231E;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}