body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

html {
    user-select: none;
}

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
}

/* HEADER */
.container {
    display: grid;
    grid-template-columns: auto 1fr 2fr 1fr;
    grid-template-rows: 100%;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . .";
    background-color: #09231E;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 20px;
}

.logo,
img {
    width: 200px;
    display: block;
}

.title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}

.title text {
    display: block;
    margin: auto;
}

.search-container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: auto;
  }
  
  .search-input {
    padding: 10px 32px 10px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5em;
    width: calc(100% - 40px);
    font-family: 'Montserrat', sans-serif;
    outline: none;
    width: 70%;
  }
  
  .search-button {
    position: absolute;
    right: 13%;
    padding: 8px;
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
  }
  
  .search-button img {
    width: 24px;
    height: auto;
  }

.user {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: #09231E;
    float: left;
    overflow: hidden;
    max-height: 100px;
}

.userText {
    margin: auto;
}

.user h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: transparent;
    font-size: 1em;
    width: fit-content;
    height: fit-content;
    border: none;
    list-style: none;
    margin: 0;
}

.dropdown-arrow {
    cursor: pointer;
}

.user ul {
    display: none;
    position: absolute;
    background: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 50%;
}

.user ul li {
    float: none;
    width: 100%;
    margin-top: 0;
}

.user ul button,
.user ul a {
    line-height: 120%;
    padding: 10px 15px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #09231E;
    background-color: white;
    font-size: 1em;
    width: 100%;
    height: fit-content;
    border: 2px solid black;
    text-decoration: none;
}

.userText h1:hover+ul,
.userText>ul:hover {
    display: block;
}

/* BODY */
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: 100% 100%;
    grid-template-areas:
        ". a ."
        "b b b";
    height: 100%;
}

.principal {
    grid-area: a;
    background-color: #F9F3ED;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal img {
    align-self: flex-start;
    max-width: 800px;
    margin-left: 4%;
    width: 70%;
}

.producto-precio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.producto-precio h1 {
    margin-right: 4%;
}

.main-container h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    margin-left: 4%;
    margin-bottom: 0;
}

.main-container h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
    margin-left: 4%;
}

.desc {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 20px 4% 50px 4%;
}

.main-container h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-weight: bold;
}

.agregar-ver {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.select-input h2 {
    margin-left: 0;
}

.main-container input[type="text"] {
    width: 500px;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
    color: #09231E;
    font-family: 'Montserrat', sans-serif;
}

.contenedor {
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.button-agregar button,
.button-ver button,
.button-reportar button {
    font-size: 1.5em;
}

.vendido-boton {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button-ver {
    background: black;
    width: 100%;
    height: 100%;
    margin-right: 4%;
}


.regresar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #09231E;
    font-size: 2vw;
    height: fit-content;
    border: none;
    align-self: center;
    padding: 10px 0;
    width: min-content;
    padding: 10px 2%;
    margin-right: 4%;
}

.button-agregar {
    background: #4B8DDA;
    width: 100%;
    height: 100%;
    margin-left: 4%;
}

.button-no {
    background: #4B8DDA;
    width: 100%;
    height: 100%;
    margin-left: 4%;
    opacity: 50%;
    cursor: none;
    pointer-events: none;
}

.button-reportar {
    background: #D34F4F;
    width: 100%;
    height: fit-content;
    align-self: flex-end;
    margin-bottom: 2%;
}

.button-enviar {
    background: #3FC23D;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}

.button-enviar button {
    width: fit-content;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    padding: 15px;
    max-width: 20%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.text-input,
.select-input {
    flex: 1;
    margin-right: 50px;
}

.select-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2em;
    color: #09231E;
    font-family: 'Montserrat', sans-serif;
}

.calificacion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 4%;
    width: calc(70% - 4%);
}

.cc-selector {
    margin-left: 20px;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.like {
    background-image: url('/utils/images/like-in.png');
}

.dislike {
    background-image: url('/utils/images/dislike-in.png');
}

.cc-selector input:active+.calif-cc1 {
    opacity: .9;
}

.cc-selector input:active+.calif-cc2 {
    opacity: .9;
}

.cc-selector input:checked+.calif-cc1 {
    background-image: url('/utils/images/like-ac.png');
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.cc-selector input:checked+.calif-cc2 {
    background-image: url('/utils/images/dislike-ac.png');
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.calif-cc1,
.calif-cc2 {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.calif-cc1:hover,
.calif-cc2:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

textarea {
    margin-left: 4%;
    min-width: calc(70% - 4%);
    min-height: 100px;
    margin-bottom: 2%;
    padding: 0;
    resize: none;
}

.comentario-reportar {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: fit-content;
    align-items: end;
}

.reporte {
    display: none;
}

.button-reportar.reporte {
    width: fit-content;
}


.elim-button {
    width: fit-content;
    background-color: #D34F4F;
    font-size: 1vw;
}

.divCont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2%;
    font-size: 2vw;
}

.oculto{
    margin-left: 4%;
    display: none;
}

.oculto h3{
    color: #D34F4F;
}

/* FOOTER */
footer {
    grid-area: b;
    background-color: #09231E;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    min-height: 100px;
    max-height: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

/* PLANTILLA ALERTA */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* ---------------Animation---------------- */

.slit-in-vertical {
    -webkit-animation: slit-in-vertical 0.45s ease-out both;
    animation: slit-in-vertical 0.45s ease-out both;
}

@-webkit-keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}

@keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}

/*---------------#region Alert--------------- */

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #707070;
    width: 100%;
    z-index: 10;
}

#dialogbox {
    display: none;
    position: absolute;
    background: #09231E;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575);
    transition: 0.3s;
    width: 40%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10%;
}

#dialogbox:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911);
}

.container {
    padding: 2px 16px;
}

.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: #09231E;
    /* background-color: rgb(1, 47, 61) */
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* ---------------Overlay--------------- */

.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    /* Safari */
    height: 32px;
    /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}

#dialogbox>div {
    background: #FFF;
    margin: 8px;
}

#dialogbox>div>#dialogboxhead {
    background: #09231E;
    font-size: 19px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

#dialogbox>div>#dialogboxbody {
    background: #F9F3ED;
    padding: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#dialogbox>div>#dialogboxfoot {
    background: #F9F3ED;
    padding: 10px;
    text-align: right;
}

/*#endregion Alert*/