<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/agregar.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <div class="logo">
                    <a href="index.html"><img src="../utils/images/logo.png"
                            alt="Procuraduría Federal del Consumidor"></a>
                </div>
                <div class="title">
                    <h1 class="title-text">ProFeCo App</h1>
                </div>
                <div class="user">
                    <h1>Wallart <span class="dropdown-arrow">▼</span></h1>
                    <ul>
                        <li><a href="reportes.html">Generar reportes</a></li>
                        <li><a href="index.html">Cerrar sesión</a></li>
                    </ul>
                </div>
            </section>
        </header>
        <main>
            <section class="main-container">
                <div class="principal">
                    <h1>Agregar producto</h1>
                    <div class="input-container">
                        <div class="text-input">
                            <h2>Nombre</h2>
                            <input type="text" id="nombre" name="nombre">
                        </div>
                        <div class="text-input">
                            <h2>Precio</h2>
                            <input type="text" id="precio" name="precio">
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="text-input">
                            <h2>Oferta</h2>
                            <input type="text" id="oferta" name="oferta">
                        </div>
                        <div class="desc-input">
                            <h2>Descripción</h2>
                            <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="etiquetas-container">
                        <div class="text-input">
                            <h2>Etiquetas</h2>
                            <input type="text" id="etiquetas" name="etiquetas">
                        </div>
                        <div class="etiquetas">
                            <button>+</button>
                        </div>
                    </div>
                    <div class="contenedor">
                        <button onclick="location.href='productos_empresa.html'">Agregar</button>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>Desarrollado por equipo ProFeCo</p>
        </footer>
    </div>
</body>

</html>