<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/main.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap">
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <header>
        <section class="container">
            <div class="logo">
                <a href="index.html"><img src="../utils/images/logo.png" alt="Procuraduría Federal del Consumidor"></a>
            </div>
            <div class="title">
                <h1 class="title-text">ProFeCo App</h1>
            </div>
            <div class="login">
                <button onclick="location.href='login.html'">Iniciar sesión</button>
            </div>
        </section>
    </header>
    <main>
        <section class="banner">
            <img src="../utils/images/banner.jpg" alt="Procuraduría Federal del Consumidor">
            <h1>¿Cuál es tu rol?</h1>
        </section>
        <section class="container-buttons">
            <button onclick="location.href='crear_consumidor.html'">Soy consumidor</button>
            <button onclick="location.href='crear_empresa.html'">Soy empresa</button>
            <button onclick="location.href='login.html'">Soy administrador</button>
        </section>
    </main>
    <footer>
        <p>Desarrollado por equipo ProFeCo</p>
    </footer>

    <script src='../sistemaUsuarios/services/verificar.service.js' ruta="index.html"></script>
</body>

</html>