<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/login.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
</head>

<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <div class="logo">
                    <a href="index.html"><img src="../utils/images/logo.png"
                            alt="Procuraduría Federal del Consumidor"></a>
                </div>
                <div class="title">
                    <h1 class="title-text">ProFeCo App</h1>
                </div>
            </section>
        </header>
        <main>
            <section class="main-container">
                <div class="principal">
                    <h1>Iniciar sesión</h1>
                    <h2>Correo</h2>
                    <input type="text" id="correo" name="correo">
                    <h2>Contraseña</h2>
                    <input type="text" id="contraseña" name="contraseña">
                    <h2><a href="index.html">Crear cuenta</a></h2>
                    <div class="contenedor">
                        <button id="login-button" onclick="iniciarSesion()">Ingresar</button>
                    </div>
                </div>
                <footer>
                    <p>Desarrollado por equipo ProFeCo</p>
                </footer>
            </section>
        </main>
    </div>
    <script src='../sistemaUsuarios/services/iniciarSesion.service.js'></script>
    <script src='./scripts.views/alerta.js'></script>
</body>

</html>