<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/index_empresa.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <div class="logo">
                    <a href="index.html"><img src="../utils/images/logo.png"
                            alt="Procuraduría Federal del Consumidor"></a>
                </div>
                <div class="title">
                    <h1 class="title-text">ProFeCo App</h1>
                </div>
                <div class="user">
                    <div class="userText">
                        <h1></h1>
                        <ul>
                            <li><a href="reportes.html">Generar reportes</a></li>
                            <li><button onclick="cerrarSesion()">Cerrar sesión</button></li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="main-container">
                <div class="principal">
                    <div class="grid-row-wrapper">
                        <h1 class="titulo">Productos</h1>
                        <h1 class="relleno"></h1>
                        <div class="button-agregar">
                            <button onclick="location.href='agregar_producto.html'">Agregar</button>
                        </div>
                    </div>
                </div>
                <footer>
                    <p>Desarrollado por equipo ProFeCo</p>
                </footer>
            </section>
        </main>
    </div>
    <script src='../sistemaUsuarios/services/verificar.service.js'></script>
    <script src='../sistemaUsuarios/services/cerrarSesion.service.js'></script>
    <script src='./scripts.views/productos_empresa.script.js'></script>
    <script src='https://cdn.socket.io/4.7.5/socket.io.min.js'></script>
    <script src='./scripts.views/alerta.js'></script>
    <script src='https://cdn.socket.io/4.7.5/socket.io.min.js'></script>
    <script>
        var socket = io('http://localhost:3000');

        socket.on('report-product', function (msg) {
            const box = document.getElementById(msg.productoId);
            box.querySelector("#nombre").textContent = box.querySelector("#nombre").textContent + "⚠️";
        });
    </script>
</body>

</html>