<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/reportes.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <div class="logo">
                    <a href="index.html"><img src="../utils/images/logo.png"
                            alt="Procuraduría Federal del Consumidor"></a>
                </div>
                <div class="title">
                    <h1 class="title-text">ProFeCo App</h1>
                </div>
                <div class="user">
                    <div class="userText">
                        <h1></h1>
                        <ul>
                            <li><a href="productos_empresa.html">Regresar</a></li>
                            <li><button onclick="cerrarSesion()">Cerrar sesión</button></li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="main-container">
                <div class="principal">
                    <h1>Reportes</h1>
                    <div class="input-container">
                        <div style="grid-area: a;">
                            <h2>Productos:</h2>
                            <input type="text" id="productos" name="productos">
                        </div>
                        <div style="grid-area: b;" class="select-input">
                            <h2>Tipo de reporte:</h2>
                            <select id="tipo-reporte" name="tipo-reporte">
                                <option value="comentarios">Comentarios</option>
                                <option value="inconsistencias">Inconsistencias</option>
                                <option value="wishlist">Wishlist</option>
                            </select>
                        </div>
                        <div style="grid-area: c;">
                            <h2>Desde:</h2>
                            <input type="date" id="desde" name="desde">
                        </div>
                        <div style="grid-area: d;">
                            <h2>Hasta:</h2>
                            <input type="date" id="hasta" name="hasta">
                        </div>
                    </div>
                    <div class="contenedor">
                        <button onclick="generarReporte()">Generar</button>
                    </div>
                </div>
                <footer>
                    <p>Desarrollado por equipo ProFeCo</p>
                </footer>
            </section>
        </main>
    </div>
    
    <script src='../sistemaUsuarios/services/verificar.service.js'></script>
    <script src='../sistemaUsuarios/services/cerrarSesion.service.js'></script>
    <script src='../sistemaProductos/services/generarReporte.service.js'></script>
    <script src='./scripts.views/alerta.js'></script>
</body>

</html>