<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/busqueda.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <div class="logo">
                    <a href="index.html"><img src="../utils/images/logo.png"
                            alt="Procuraduría Federal del Consumidor"></a>
                </div>
                <div class="title">
                    <h1 class="title-text">ProFeCo App</h1>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Busca por producto, servicio o categoría..." class="search-input"
                        id="search-input">
                    <button type="submit" class="search-button" id="search-button">
                        <img src="../utils/images/search.png" alt="Icono de búsqueda">
                    </button>
                </div>
                <div class="user">
                    <div class="userText">
                        <h1><span class="dropdown-arrow">▼</span></h1>
                        <ul>
                            <li><button onclick="mostrarLista()">Ver lista</button></li>
                            <li><button onclick="cerrarSesion()">Cerrar sesión</button></li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="main-container">
                <div class="principal">
                    <div class="filtros">
                        <h1></h1>
                        <h2>Filtros:</h2>
                        <div class="filtros-cont">
                            <div>
                                <label for="ofertaCheck">Ofertas</label>
                                <input type="checkbox" class="ofertas" id="ofertaCheck">
                            </div>
                            <div>
                                <label for="tipo-negocio">Tipo de mercado:</label>
                                <select id="tipo-negocio" name="tipo-negocio">
                                    <option value="default">Todos</option>
                                    <option value="mercado-popular">Mercado popular</option>
                                    <option value="supermercado">Supermercado</option>
                                    <option value="mercado-sobre-ruedas">Mercado sobre ruedas</option>
                                </select>
                            </div>
                            <button class="regresar" onclick="window.history.back();">Regresar</button>
                        </div>
                    </div>

                </div>

                <footer>
                    <p>Desarrollado por equipo ProFeCo</p>
                </footer>
            </section>
        </main>
    </div>

    <script src='../sistemaUsuarios/services/verificar.service.js' ruta="resultados.html"></script>
    <script src='../sistemaUsuarios/services/cerrarSesion.service.js'></script>
    <script src='../sistemaProductos/services/agregarProductoLista.service.js'></script>
    <script src='../sistemaProductos/services/eliminarProducto.service.js'></script>
    <script src='../sistemaProductos/services/actualizarProductoConsumidor.service.js'></script>
    <script src='../sistemaProductos/services/cargarProductoResultado.service.js'></script>
    <script src='./scripts.views/busqueda.js'></script>
    <script src='./scripts.views/alerta.js'></script>
    <script src='./scripts.views/lista.script.js'></script>
    <script src='https://cdn.socket.io/4.7.5/socket.io.min.js'></script>
    <script>
        var socket = io('http://localhost:3000');

        socket.on('load-new', function (msg) {
            cargarProductoResultado(msg.productoId);
        });
        socket.on('delete-product', function (msg) {
            eliminarProducto(msg.productoId, "search");
        });
        socket.on('update-product', function (msg) {
            actualizarProducto(msg.productoId);
        });
        socket.on('report-product', function (msg) {
            const box = document.getElementById(msg.productoId);
            if (box) {
                box.querySelector("#nombre").textContent = box.querySelector("#nombre").textContent + "⚠️";
            }
        });
        socket.on('sancionar', function (msg) {
            const url = window.location.href;
            const nuevaUrl = url.replace(/^.*\/views\//, '');
            customAlert.alert("Un mercado fue sancionado", "", nuevaUrl);
        });
    </script>
    <script>
        const searchInput = document.getElementById('search-input');
        const searchButton = document.getElementById('search-button');

        searchButton.addEventListener('click', () => {
            const url = `resultados.html?search=${searchInput.value}`;

            if (searchInput.value !== "") {
                window.location.href = url;
            } else {
                window.location.reload();
            };

        });

        searchInput.addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                const url = `resultados.html?search=${searchInput.value}`;

                if (searchInput.value !== "") {
                    window.location.href = url;
                } else {
                    window.location.reload();
                };

            };
        });
    </script>
</body>

</html>