<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ProFeCo App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/ver.css'>
    <link href='../utils/images/favicon.png' rel='icon'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div class="wrapper">
        <header>
            <section class="container">
                <div class="logo">
                    <a href="index.html"><img src="../utils/images/logo.png"
                            alt="Procuraduría Federal del Consumidor"></a>
                </div>
                <div class="title">
                    <h1 class="title-text">ProFeCo App</h1>
                </div>
                <div class="user">
                    <div class="userText">
                        <h1><span class="dropdown-arrow">▼</span></h1>
                        <ul>
                            <li><button onclick="mostrarLista()">Ver lista</button></li>
                            <li><button onclick="cerrarSesion()">Cerrar sesión</button></li>
                        </ul>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section class="main-container">
                <div class="principal">

                </div>

                <footer id="footer">
                    <p>Desarrollado por equipo ProFeCo</p>
                </footer>
            </section>
        </main>
        <script src='../sistemaUsuarios/services/verificar.service.js' ruta="ver_producto.html"></script>
        <script src='../sistemaUsuarios/services/cerrarSesion.service.js'></script>
        <script src='../sistemaProductos/services/verProducto.service.js'></script>
        <script src='../sistemaProductos/services/agregarProductoLista.service.js'></script>
        <script src='../sistemaProductos/services/calificarProducto.service.js'></script>
        <script src='../sistemaProductos/services/reportarProducto.service.js'></script>
        <script src='./scripts.views/alerta.js'></script>
        <script src='./scripts.views/lista.script.js'></script>
        <script>
            function mostrar() {
                document.querySelectorAll(".reporte").forEach(element => {
                    element.style.display = "block";
                });
                const boton = document.querySelector(".button-reportar");
                boton.textContent = "Ocultar";
                boton.onclick = ocultar;
            }
            function ocultar() {
                document.querySelectorAll(".reporte").forEach(element => {
                    element.style.display = "none";
                    if (element.tagName.toLowerCase() === 'textarea') {
                        element.value = '';
                    }
                });
                const boton = document.querySelector(".button-reportar");
                boton.textContent = "Reportar";
                boton.onclick = mostrar;
            }
        </script>
    </div>
</body>

</html>